{% extends 'base.html' %} {% comment %} #100 - Extend styling  {% endcomment %}

{% block title %}Add Customer Record{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="icon" href="{% static 'favicon/django_favicon.png' %}" type="image/png">
{% endblock %}

{% comment %} #99 - Add Record html template {% endcomment %}
{% block content %}

<div class='col-md-6 offset-md-3'>
    <h1> Add Customer Record: </h1>
    <br/>

    {% comment %} #101 - Create a Django form for this. {% endcomment %}
    <form method='POST' action='{% url 'add_record' %}'>
        {% csrf_token %} {% comment %} #102 - Always need CSRF Token Cross Site Request Forgury Token required when creating a form. {% endcomment %}

        {{ form.as_p }}

            

            <br/>
            {% comment %} #117 - Back button. {% endcomment %}
            <a href='{% url 'home' %}' class="btn btn-secondary">Back To Records</a>

            <button type="submit" class="btn btn-secondary">Add Customer Record</button>
    </form>


</div>

{% endblock %}