{% extends 'base.html' %}
{% comment %} #15 - Create a website/templates folder
              #16 - Create a home.html template {% endcomment %}

{% comment %} #21 - Extend the style from base.html file {% endcomment %}


{% block content %}

{% comment %} #30 - Login form pop up {% endcomment %}
<div class='col-md-6 offset-md-3'>{% comment %}BootStrap's center class{% endcomment %}

    {% if user.is_authenticated %} {% comment %} #34 - Only provide login page if user is NOT login, if they are logged in - show them Hello World. {% endcomment%}
    <h1> Hello World</h1>

    {% else %}

    <h1> Login </h1> 
    <br/>
    {% comment %} #31 - Create a form with a method that posts to the server when a user fills it out, and brings user back to home. {% endcomment %}
    <form method='POST' action='{% url 'home' %}'>
        {% csrf_token %} {% comment %} #32 - Always need CSRF Token Cross Site Request Forgury Token required when creating a form. {% endcomment %}

        {% comment %} #33 - Grab Form from BootStrap and customize {% endcomment %}
            <div class="mb-3">
              
              <input type="text" class="form-control" name="username" placeholder="Username" required>
              
            </div>
            <br/>

            <div class="mb-3">
              
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br/>
            
            <button type="submit" class="btn btn-secondary">Login</button>
    </form>
    

</div>

{% endif %}

{% endblock %}