{% extends 'base.html' %}
{% comment %} #15 - Create a website/templates folder
              #16 - Create a home.html template {% endcomment %}

{% comment %} #21 - Extend the style from base.html file {% endcomment %}


{% block content %}

{% comment %} #30 - Login form pop up {% endcomment %}

    {% if user.is_authenticated %} {% comment %} #34 - Only provide login page if user is NOT login, if they are logged in - show them Hello World. {% endcomment%}

    {% comment %} #78 - Set up Table from BootStrap for Records {% endcomment %}
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Province</th>
          <th scope="col">Postal Code</th>
          <th scope="col">Created At</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        
        {% comment %} #79 - Copy steps 75 - 77 and past them in between <tr> tags, so for each record it will loop through and create a new row to place in the table. {% endcomment %}

        {% if records %} {% comment %} #75 - Loop through the records and put them on the screen. {% endcomment %}

            {% for record in records %} {% comment %} #76 - All records from the DB table created from our model. {% endcomment %}
  
              {% comment %} #77 - Show each of the record details created on screen. {% endcomment %}
              <tr>
                <td>{{ record.first_name }}
                    {{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address}}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.province }}</td>
                <td>{{ record.postalcode }}</td>
                <td>{{ record.created_at }}</td>
                <td><a href='{% url 'record' record.id %}'>{{ record.id }}</a></td> {% comment %} #89 - Add Link to ID to bring you to specific page with more information. {% endcomment %}
              </tr>
            {% endfor %}

            {% comment %} #80 - Add columns for each by adding <td> tags. {% endcomment %}

  
        {% endif %}
      
      </tbody>
    </table>

    {% else %}

    <div class='col-md-6 offset-md-3'>
      <h1> Login </h1> 
      <br/>
      {% comment %} #31 - Create a form with a method that posts to the server when a user fills it out, and brings user back to home. {% endcomment %}
      <form method='POST' action='{% url 'home' %}'>
          {% csrf_token %} {% comment %} #32 - Always need CSRF Token Cross Site Request Forgury Token required when creating a form. {% endcomment %}

          {% comment %} #33 - Grab Form from BootStrap and customize {% endcomment %}
              <div class="mb-3">
                
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                
              </div>
              <br/>

              <div class="mb-3">
                
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <br/>
              
              <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </div>

{% endif %}

{% endblock %}