{% extends 'base.html' %} {% comment %} #114 - Extend styling  {% endcomment %}

{% comment %} #113 - Create the update record form. {% endcomment %}


{% comment %}  {% endcomment %}
{% block content %}

{% comment %}  {% endcomment %}

<div class='col-md-6 offset-md-3'>
    <h1> Update Customer Record: </h1>
    <br/>

    {% comment %} #115 - Add Django form. {% endcomment %}
    <form method='POST'>
        {% csrf_token %} {% comment %} #116 - Always need CSRF Token Cross Site Request Forgury Token required when creating a form. {% endcomment %}

        {{ form.as_p }}

            <br/>
            {% comment %} #118 - Back button. {% endcomment %}
            <a href='{% url 'home' %}' class="btn btn-secondary">Back To Records</a>

            <button type="submit" class="btn btn-secondary">Update Customer Record</button>
    </form>


</div>

{% endblock %}

{% comment %}  {% endcomment %}